/*--master styles--*/

/*--importing lato font--*/
@import url('https://fonts.googleapis.com/css?family=Lato');

p{
	font-family:'Lato', sans-serif;
	font-size:18px;
}

ol{
	font-family:'Lato', sans-serif;
	font-size:18px;
}

/*--clearing any floats--*/
.clear{
	clear:both;
}